
.custom-table {
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
}

.custom-table thead th {
  background-color: #a0adbe;
  color: white;
}

.custom-table tbody tr.even-row {
  background-color: #dae0ea;
}

.custom-table tbody tr.odd-row {
  background-color: #a0adbe;
  color: white;
}

.custom-table tbody tr.odd-row td {
  color: white;
}

@media (max-width: 600px) {
  .container {
    padding: 0px; 
  }

  .custom-table {
    margin: 1px; 
  }

  .custom-table th,
  .custom-table td {
    padding: 8px;
  }
}
