@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
}

body,
input,
textarea {
  font-family: "Poppins", sans-serif;
}

.container {
  position: relative;
  width: 100%;
  min-height: 70vh;
  padding: 2rem;
  background: linear-gradient(180deg, #b4d8ee, #5083ca);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border-radius: 10px; */
}

.form {
  width: 100%;
  max-width: 820px;
  background-color: #fff;
  border-radius: 10px;
  /* box-shadow: 0 0 20px 8px #d0e3ff; */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background: transparent;
}

/* .contactInfo {
  padding: 2.3rem 2.2rem;
  position: relative;
} */

.contactForm {
  padding: 2.3rem 2.2rem;
  position: relative;
  background-color: rgba(60, 121, 206, 0.6); /* Semi-transparent background */
  backdrop-filter: blur(10px); /* Blur effect */
  border-radius: 10px;
}

.title {
  color: #3f7acf;
  font-weight: 500;
  font-size: 1.5rem;
}

.text {
  color: #ffffff;
  margin: 1.5rem 0 2.5rem 0;
}

/* .information {
  display: flex;
  color: #555;
  margin: 0.7rem 0;
  align-items: center;
  font-size: 0.95rem;
} */

.icon {
  width: 28px;
  margin-right: 0.7rem;
}

.contactForm form {
  width: 100%;
}

.inputContainer {
  position: relative;
  margin-bottom: 0.8rem;
  width: 100%;
}

.input {
  width: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  padding: 0.5rem 0;
  resize: none;
  color: #fff;
  font-size: 1rem;
  font-weight: 300;
  border-bottom: 2px solid rgba(255, 255, 255, 0.5);
}

.textarea {
  min-height: 150px;
}
.sideImage {
  display: block;
}

@media (max-width: 750px) {
  .form {
    grid-template-columns: 1fr;
  }

  .contactInfo:before {
    bottom: initial;
    top: -75px;
    right: 65px;
    transform: scale(0.95);
  }
  .sideImage {
    display: none;
  }
  /* .contactForm:before {
    top: initial;
    bottom: -75px;
    left: 65px;
    transform: scale(0.95);
  } */
}

@media (max-width: 550px) {
  .form {
    /* padding: 1.5rem; */
    margin-bottom: 30px;
    flex-direction: column-reverse;
    
  }
  .form {
    flex-direction: column;
  }
  .sideImage {
    height: 20px;
  }
}
