.homeMain {
    display: flex;
    justify-content: center; 
    padding: 0 7%; 
    flex-wrap: wrap;
  }

.mainSearch h1 {
  margin: 0;
}
.mainSearch{}

.contentWrapper.findBoxMain {
  max-width: 100px;
  width: 100%;
}

.findBoxMain {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  width: 100%;
  padding: 20px;
  background-color: #3f7acf;
  color: white;
  font-size: 20px;
  border-radius: 10px;
  display: flex;
}
.rightMain {
  display: flex;
  flex-direction: row;
  justify-content: end;
}

.secondary {
  display: flex;
  width: 50%;
  height: 100%;
  background-color: #164282;
  padding: 10px 10px 10px 10px;
  margin: 2px;
  border-radius: 10px;
  align-items: center;
}

.primary {
  width: 51%;
}

.Card_items {
  margin-top: 25px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}

.Cards {
  max-width: 20rem;
  position: relative;
}

.container {
  display: flex;
  height: 100vh;
  position: relative;
}

.sidebar {
  background-color: #243056;
  color: white;
  width: 30%;
  position: absolute;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  box-sizing: border-box;
  z-index: 1;
}
.left{
  margin-left: 10%;
}
.letsgo {
  font-size: 100px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  width: 500px;
  margin-top: 0px;
}

.mainContent {
  width: 70%;
  background-image: url("https://dynamic-media-cdn.tripadvisor.com/media/photo-o/25/74/a3/7d/ballom-flight.jpg?w=1200&h=-1&s=1");
  background-size: cover;
  background-position: center;
  position: relative;
  margin-left: 30%;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(36, 48, 86, 0.7);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}

.logo {
  font-size: 2rem;
  font-weight: bold;
}

.address {
  position: absolute;
  bottom: 10px;
  right: 20px;
  color: white;
  text-align: right;
}

@media (max-width: 768px) {
  .box {
    width: calc(50% - 20px);
  }
  .logo {
    width: 200px;
    margin-top: 150px;
    /* margin-bottom: -30px; */
  }
  .letsgo {
    font-size: 50px;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    width: 300px;
    margin-top: 0px;
  }
}

@media (max-width: 576px) {
  .homeMain {
    /* padding: 0 8%; */
  }

  .findBoxMain {
    flex-direction: column;
  }

  .primary h3 {
    font-size: 1.2rem;
  }

  .Card_items {
    grid-template-columns: 1fr;
  }

  .Cards {
    max-width: 100%;
  }

  .secondary {
    flex-direction: column;
    text-align: center;
    font-size: 14px;
  }
}
