.homeMain {
  display: flex;
  justify-content: center; /* Aligns content horizontally in the center */
  padding: 0 10%; /* 30px padding on both sides */
  flex-wrap: wrap;
}

.mainSearch h1 {
  margin: 0;
}

.contentWrapper.findBoxMain {
  max-width: 100px; /* Optional: Set a maximum width for the content */
  width: 100%; /* Optional: Ensures the content fills the available space */
}

.findBoxMain {
  display: flex;
  margin-top: 30px;
  width: 100%;
  padding: 20px; /* Adjust padding as needed */
  background-color: #3f7acf; /* Adjust background color */
  color: white; /* Adjust text color */
  font-size: 20px; /* Adjust font size */
  border-radius: 10px;
  display: flex;
}

.secondary {
  width: 50%;
  height: 100px;
  background-color: #164282;
  padding: 10px 10px 10px 10px;
  margin: 2px;
  border-radius: 10px;
  align-items: center;
}

.primary {
  width: 51%;
}


.box {
  height: 100px;
  background-color: lightblue;
  margin-bottom: 20px;
  box-sizing: border-box;
  padding: 10px;
}



.services {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}



.image_container img {
  border-radius: 30px;
  margin: 5px;
}

.Card_items {
  margin-top: 25px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}

.Cards {
  max-width: 20rem;
  position: relative;
}




.imageContainer img {
  width: 100%; /* Make sure images fill the container */
  height: 100%; /* Make sure images fill the container */
  object-fit: cover; /* Ensure images cover the entire space */
}



.overlay h5 {
  margin-bottom: 10px;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  .box {
    width: calc(50% - 20px); /* Two boxes per row with gap */
  }
}

/* Media query for even smaller screens */
@media (max-width: 576px) {
  .box {
    width: 100%; /* Single box per row */
  }
}
