  .homeMain {
    display: flex;
    justify-content: center; /* Aligns content horizontally in the center */
    padding: 0 10%; 
    flex-wrap: wrap;
  }

  .mainSearch h1 {
    margin: 0;
  }

  .contentWrapper.findBoxMain {
    max-width: 100px;
    width: 100%;
  }

  .findBoxMain {
    display: flex;
    margin-top: 30px;
    width: 100%;
    padding: 20px;
    background-color: #3f7acf;
    color: white;
    font-size: 20px;
    border-radius: 10px;
    display: flex;
  }

  .secondary {
    width: 50%;
    height: 100%;
    background-color: #164282;
    padding: 10px 10px 10px 10px;
    margin: 2px;
    border-radius: 10px;
    align-items: center;
  }

  .primary {
    width: 51%;
  }

  .Card_items {
    margin-top: 25px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
  }

  .Cards {
    max-width: 20rem;
    position: relative;
  }

  /* Media query for smaller screens */
  @media (max-width: 768px) {
    .box {
      width: calc(50% - 20px); /* Two boxes per row with gap */
    }
  }

  /* Media query for even smaller screens */
  @media (max-width: 576px) {
    .homeMain {
      padding: 0 8%;
    }

    .findBoxMain {
    flex-direction: column;
    }
  
    .primary h3 {
      font-size: 1.2rem;
    }

    .Card_items {
      grid-template-columns: 1fr;
    }

    .Cards {
      max-width: 100%;
    }

    .secondary {
      flex-direction: column;
      text-align: center;
      font-size: 14px;
    }
  }
